/* Estilos globales */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
}

button,
input[type="text"],
select {
  border-radius: 6px;
  padding: 6px;
  letter-spacing: 1px;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}